<h3><i class="fas fa-table-tennis" style="margin-right: 1rem;"></i>Kotam</h3>
<div class="section">
    <p class="lead">Kotam League Season 2022!</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn red darken-1">
    <i class="fab fa-google left"></i>Log In with Google</a>
</div>
